@import "../node_modules/nprogress/nprogress.css";

@font-face {
  font-family: Cozette;
  src: url('/fonts/CozetteVector.ttf')
}

html {
  background-color: black;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: Cozette;
  -webkit-font-smoothing: none;
}

.grid-container {
  display: grid;
  grid-auto-columns: min-content 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 32px 32px;
  grid-template-areas: "screen disassembler memory" "controls disassembler memory";
}

.window {
  border: 1px solid;
}

.window > .header {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
  padding: 8px
}

.window > .body {
  padding: 12px;
}

.window-screen {
  grid-area: screen;
  border-color: #4392F1;
}

.window-screen > .header {
  color: black;
  background-color: #4392F1;
}

.window-disassembler {
  grid-area: disassembler;
  border-color: #2e2767;
}

.window-disassembler > .header {
  color: #6153CC;
  background-color: #2e2767;
}

.window-memory {
  grid-area: memory;
  border-color: #2e2767;
}

.window-memory > .header {
  color: #6153CC;
  background-color: #2e2767;
}

.window-controls {
  grid-area: controls;
  border-color: #EE4266;
}

.window-controls > .header {
  color: black;
  background-color: #EE4266;
  font-size: 16px;
  padding: 4px;
}

.window-disassembler > .body {
  display: flex;
  flex-direction: column;
  color: #9c9c9c;
}

.window-disassembler > .body > span {
  padding: 2px 8px;
}

.window-disassembler > .body > span:nth-child(even) {
  background-color: #232323;
}

.window-disassembler > .body > span.active {
  display: flex;
  justify-content: space-between;
  background-color: #6153CC;
  color: white;
  padding: 0;
}

.window-disassembler > .body > span.active > .instruction {
  padding: 2px 8px;
}

.window-disassembler > .body > span.active > .cursor {
  height: 100%;
  font-weight: bold;
  color: #a89df7;
  padding: 2px 8px;
  background-color: #2e2767;
}

.registers {
  display: grid;
  grid-auto-columns: max-content auto 80px;
  grid-auto-rows: auto;
  gap: 16px 8px;
  align-items: baseline;

  color: #9c9c9c;
}

.registers > .label {
  grid-column: 1;
}

.registers > .value {
  grid-column: 2;
}

.registers > .changed {
  color: white;
}

.stack {
  display: grid;
  grid-auto-columns: -webkit-max-content auto 80px;
  grid-auto-columns: max-content auto 80px;
  grid-template-rows: auto;
  gap: 16px 8px;
  align-items: baseline;

  color: #9c9c9c;
}

.stack > .label:first-of-type {
    background-color: #6153CC;
    color: white;
}

.stack > .value:first-of-type {
    background-color: #6153CC;
    color: white;
}

.screen {
  border-top: 1px solid white;
  border-left: 1px solid white;
  border-right: 1px solid #4392F1;
  border-bottom: 1px solid #4392F1;
}

.screen-row { display: flex }

.screen-pixel {
  width: 10px;
  height: 10px;
}

.screen-pixel-on {
  background-color: #EE4266;
}

.screen-pixel-off {
  background-color: black;
}

:focus {
  outline: 2px solid white;
  outline-offset: 2px;
}

.button {
  border-radius: 0;

  font-family: Cozette;
  -webkit-font-smoothing: none;
}

.button.ghost {
  font-weight: bold;
  background-color: transparent;
  border: 1px solid #FFFFFF;
}

.button.ghost.primary {
  border-color: #4392F1;
  color: #4392F1;
}

.button.ghost.secondary {
  border-color: #EE4266;
  color: #EE4266;
}

.button.ghost.primary:hover {
  border: 1px solid #4392F1;
  border-top-color: white;
  border-left-color: white;
  background-color: #4392F1;
  color: white;
}

.button.ghost.primary:active {
  border: 1px solid #4392F1;
  border-bottom-color: white;
  border-right-color: white;
  background-color: #4392F1;
  color: white;
}

.button.ghost.secondary:hover {
  border: 1px solid #EE4266;
  border-top-color: white;
  border-left-color: white;
  background-color: #EE4266;
  color: white;
}

.button.ghost.secondary:active {
  border: 1px solid #EE4266;
  border-bottom-color: white;
  border-right-color: white;
  background-color: #EE4266;
  color: white;
}

/* LiveView specific classes for your customizations */
.phx-no-feedback.invalid-feedback,
.phx-no-feedback .invalid-feedback {
  display: none;
}

.phx-click-loading {
  opacity: 0.5;
  transition: opacity 1s ease-out;
}

.phx-disconnected{
  cursor: wait;
}
.phx-disconnected *{
  pointer-events: none;
}

.phx-modal {
  opacity: 1!important;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.phx-modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.phx-modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.phx-modal-close:hover,
.phx-modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


/* Alerts and form errors */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}
.invalid-feedback {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem;
}
